html, body, p{ 
	margin:0; 
	padding:0; 
}

header{
	padding:25px 0px;/*Marge verticale*/
	background-image: url(image/background.png);/*Couleur de fond*/
	text-align:center;/*texte centré*/
}

h1 {
	font-size: 300%;
	text-align: center;
	color: black;
}

h2 {
	font-size: 200%;
	text-align: center;
	color: black;
}

#content{
	background-image: url(image/background.png);/*Couleur de fond*/
	width: 80%;
	margin: auto;
}

.centercolumn{
	width:50%;/*Taille de la colonne centrée moins le padding*/
	margin: auto; /*centrer la colonne*/
	padding: 1%;
}

.bouton a {
display:block;
float:middle;
margin:auto;
width:50%;
line-height:200%;
text-align:center;
vertical-align:middle;
background:#DED1D1;
color:black;
text-decoration:none;
border-radius: 8px;
}
.bouton a:hover {
background: #DCBDBD;
}

body {
	font-size: 150%;
	font-family: sans-serif;
	color: black;
	background-image: url(image/background2.png);
}

footer{
	padding:1% 0px;/*Marge verticale*/
	background-image: url(image/background.png);/*Couleur de fond*/
	text-align:center;/*texte centré*/
}

img{
	border-radius: 20%;
}

textarea{
	width: 100%;
	height: 30%;
}

li{
	list-style-type: none;
}